<!DOCTYPE html>
<html>
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WWGPDNQP');</script>
  <!-- End Google Tag Manager -->

  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width">
  {{#sprockets_stylesheet_tag}}app{{/sprockets_stylesheet_tag}}
  {{#sprockets_stylesheet_tag}}print print{{/sprockets_stylesheet_tag}}


  {{#css}}<link rel="stylesheet" type="text/css" href="{{custom_css}}" media="all">{{/css}}
  {{#noindex}}<meta name="robots" content="noindex, nofollow" />{{/noindex}}

  <script>
  var criticMarkup = '{{critic_markup}}';
	var baseUrl = '{{base_url}}';
  var showLocalTime = {{{show_local_time}}};
	var uploadDest = 'uploads';
	var perPageUploads = '{{per_page_uploads}}';
	if (perPageUploads == 'true') {
	  uploadDest = uploadDest + window.location.pathname.replace(/.*gollum\/[-\w]+\//, "/").replace(/\.[^/.]+$/, "").replace(baseUrl, "")
	}
	{{#page}}
	  var pageFullPath = '{{escaped_url_path}}';
    var pageFormat   = '{{format}}';
	{{/page}}
  {{#has_search_terms}}
    var searchTerms  = [{{#search_terms}}'{{.}}', {{/search_terms}}
    ];
  {{/has_search_terms}}
  {{#is_create_page}}
    var default_markup = '{{default_markup}}';
  {{/is_create_page}}
  {{#has_editor}}
     var default_keybinding = '{{default_keybinding}}';
  {{/has_editor}}

  </script>
  {{#sprockets_javascript_tag}}app{{/sprockets_javascript_tag}}
  {{#has_editor}}
  {{#sprockets_javascript_tag}}editor{{/sprockets_javascript_tag}}
  {{/has_editor}}

  {{#katex}}
  {{#sprockets_stylesheet_tag}}katex/dist/katex{{/sprockets_stylesheet_tag}}
  <script defer src="{{#sprockets_asset_path}}gollum.katex.js{{/sprockets_asset_path}}"></script>
  <script type="text/javascript">
    var katex_conf = {
      delimiters: [
          {left: '$$', right: '$$', display: true},
          {left: '$', right: '$', display: false},
          {left: '\\(', right: '\\)', display: false},
          {left: '\\[', right: '\\]', display: true}
      ],
      throwOnError : false
    };
  </script>
  {{/katex}}

  {{#mathjax}}
  <script type="text/javascript">
    window.MathJax = {
      tex: {
        inlineMath: [ ['$','$'], ['\\(','\\)'] ],
        displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
        processEscapes: true,
        autoload: {
          color: [],
          colorv2: ['color']
        },
        packages: {'[+]': ['noerrors']}
      },
      options: {
        ignoreHtmlClass: 'tex2jax_ignore',
        processHtmlClass: 'tex2jax_process',
        safeOptions: {
          allow: {
            //
            //  Values can be "all", "safe", or "none"
            //
            URLs:    'safe',
            classes: 'none',
            cssIDs:  'none',
            styles:  'none',
          },
        },
      },
      loader: {
        load: ['[tex]/noerrors', 'ui/safe']
      },
  };
  </script>
  {{/mathjax}}
  
  {{#mermaid}}
  <script>
  var mermaid_conf = {
    startOnLoad: true,
    securityLevel: 'sandbox'
  };
  </script>
  {{/mermaid}}
  
  {{#js}}
  <script type="text/javascript" src="{{custom_js}}"></script>
  {{/js}}
  {{#math_config}}
  <script type="text/javascript" src="{{math_config}}"></script>
  {{/math_config}}

  {{#mathjax}}
  <script async src="{{mathjax_js}}"></script>
  {{/mathjax}}
  {{#katex}}
  <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
          var page_content_div = document.getElementById('wiki-content');
          if (page_content_div){
            renderMathInElement(page_content_div, katex_conf);
          }
      });
  </script>
  {{/katex}}

  {{#mermaid}}
  {{#sprockets_javascript_tag}}gollum.mermaid.js{{/sprockets_javascript_tag}}
  <script>
    mermaid.initialize(mermaid_conf);
  </script>
  {{/mermaid}}
  
  <title>{{title}}</title>
  <meta name="description" content="GnollHack Wiki" />

  <meta property="og:site_name" content="GnollHack Wiki" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="The official wiki for GnollHack, a free roguelike RPG." />
  <meta property="og:url" content="https://wiki.gnollhack.com/{{escaped_url_path}}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://wiki.gnollhack.com/.gollum/images/gnollhack-wiki-og-v2.jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <meta name="twitter:site" content="@GnollHack" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:description" content="GnollHack Wiki" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:image:src" content="https://wiki.gnollhack.com/.gollum/images/gnollhack-wiki-og-v2.jpg" />

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/.gollum/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/.gollum/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/.gollum/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/.gollum/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/.gollum/favicon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/.gollum/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/.gollum/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/.gollum/favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/.gollum/favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/.gollum/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/.gollum/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/.gollum/favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/.gollum/favicon/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="GnollHack Wiki" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="/.gollum/favicon/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="/.gollum/favicon/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="/.gollum/favicon/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="/.gollum/favicon/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="/.gollum/favicon/mstile-310x310.png" />

  <style>
    @media (max-width: 767px) {
      #wiki-sidebar {
        margin-top: 50px;
        box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 50%);
      }
    }
  </style>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWGPDNQP"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container-lg clearfix">
  {{{yield}}}
  </div>
</body>
</html>
